
<div class="row">
  <div class="col-10 offset-1">
    <table class="table">
      <thead>
        <tr>
          <th>Customer Number</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date Of Birth</th>
          <th>Last Four SSN</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers" (click)="open(content, customer)">
          <td>{{customer.customer_number }}</td>
          <td>{{customer.first_name }}</td>
          <td>{{customer.last_name}}</td>
          <td>{{customer.date_birth}}</td>
          <td>{{customer.ssn}}</td>
          <td>21</td>
        </tr>
      </tbody>
    </table>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" (click)="open(newCustomer)">
      New Customer
    </button>

    <ng-template #newCustomer let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">New Customer</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-new-customer> </app-new-customer>
        </div>
    </ng-template>



    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Customer Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-5 fw-bold pb-3 pb-2">Email:</div>
          <div class="col-3">{{ modalContent.email }}</div>
        </div>

        <div class="row">
          <div class="col-5 fw-bold pb-3">Mobile Phone Number:</div>
          <div class="col-5">{{ modalContent.mobile_phone_number }}</div>
        </div>


        <div class="row">
          <div class="col-5 fw-bold pb-3">Join Date:</div>
          <div class="col-3">{{modalContent.join_date }}</div>
        </div>

        <div class="row">
          <div class="col-11 offset-3">

            <div class="row">
              <div class="col-2 fw-bold">Address:</div>
              <div class="col-6">{{modalContent.primary_address.address_line_1}}</div>
            </div>

            <div class="row">
              <div class="col-2 fw-bold ">City:</div>
              <div class="col-3">{{modalContent.primary_address.city}}</div>
            </div>
            <div class="row">
              <div class="col-2 fw-bold ">State:</div>
              <div class="col-3">{{modalContent.primary_address.state}}</div>
            </div>
            <div class="row">
              <div class="col-2 fw-bold ">Zipcode:</div>
              <div class="col-3">{{modalContent.primary_address.zip_code}}</div>
            </div>

          </div>
        </div>
      </div>

    </ng-template>
    <hr>

<pre>{{closeResult}}</pre>

  </div>
</div>



